.body {
    background-size: 100%;
    height: 100vw;
    color: aliceblue;
}

.logoutImg {
    width: 6vw;
    height: 6vw;
    margin-top: 5vw;
    margin-left: 45%;
    border-radius: 50%;
    text-align:center;
}